/*Restyling for dark theme*/
/*
Background: 212121
Content: 323232
Content-Primary: 0AAE59 = RGB(10, 174, 89)
Hover-state-primary: (34, 194, 109) = #1ec26d
Hover-link: RBG(5, 164, 79) = #05A44F
Content-Secondary: 14ffec
text: ffffff
*/
body {
  background-color: #212121;
  color: white;
  /*Enable scrollspy*/
  position: relative;
}

.bg-dark {
  background-color: #323232;
}

.bg-primary {
  background-color: #0AAE59;
}

.bg-secondary {
  background-color: #14ffec;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mt-7 {
  margin-top: 7rem;
}

.green-top {
  border-length: 5rem;
  border-top: 2px solid rgba(10, 174, 80);
}


/*Restyling Elements*/
nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 2000;
}

hr {
  border-top-color: rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #323232;
}

/* Resytling jumbotron */
.jumbotron {
  background-color: #323232;
  /*Resetting jumbotron for sticky navbar*/
  margin-top: 56px;
}

/*Restyle table*/
.table thead th {
  border-bottom-color: rgb(0, 0, 0, 0.2);
  border-top-color: rgb(0, 0, 0, 0.2);
}

.table-dark td, .table th {
  border-color: rgb(0, 0, 0, 0.2);
}



/*Resetting row*/
.row {
  justify-content: space-around;
}

.row-advertise {

}

/*Card-advertise*/
.row-advertise .col-lg-3:hover {
  cursor: pointer;
}

.row-advertise .col-lg-3 .card {
  background-color: #212121;


}

.row-advertise .col-lg-3 .card:hover {
  transition: 250ms;
  background-color: #323232;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,.19);
}

/*Restyling green card icon*/
.green-card-icon {
  color: #0AAE59;
  font-size: 3rem;
}



/*Overriding body/bootstrap*/
.border-dark .card-header {
  color: #323232;
}

.card {
  padding: 0;
}

.navbar-dark {
  /*!important for override*/
  background-color: #212121 !important;
}

/*Board Page*/
.board .row img {
  /*Change width and height for mobile*/
  width: 350px;
  height: 350px;
  margin-bottom: 0.5rem;
}

.board .row h2 {
  margin-bottom: 0.25rem;
}

.board .row .green-bottom {
  border-bottom: 2px solid rgb(10, 174, 89);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
